* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fbf7f2;
  color: #3b2f28;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

