@font-face {
  font-family: "Candle";
  src: url("..fonts/Candlescript Demo Version.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TimesItalic';
  src: url('../fonts/Times New Roman Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GlamourLocale';
  src: url('../fonts/Glamour.ttf') format('truetype'); // 🔥 CHANGE typo/ en fonts/
  font-weight: normal;
  font-style: normal;
}